// responsive.scss

@use 'variables' as *;

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem; /* Smaller header on mobile */
    }

    form {
        width: 90%; /* Make the form more flexible on small screens */
        padding: 15px;
    }

    input, button {
        font-size: 1rem; /* Adjust input and button sizes */
        padding: 12px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.9rem; /* Slightly smaller font for very small screens */
        padding: 10px;
    }

    h1 {
        font-size: 1.25rem;
    }

    button {
        padding: 10px 15px; /* Smaller button padding */
    }
}
